[Desktop Entry]
Name=OpenCycleTrainer
Comment=Indoor cycling training app
Exec=opencycletrainer
Icon=org.opencycletrainer.OpenCycleTrainer
Terminal=false
Type=Application
Categories=Sports;
